{% extends "admin/base_site.html" %}
{% block content %}
<h1>THỐNG KÊ THÔNG TIN CÁC KHOÁ HỌC</h1>
<ul>
{% for s in stat %}
    <li><strong>{{ s.name }}</strong> có {{ s.count}} bài học </li>
{% endfor %}
</ul>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
window.onload = ()=>{
      const ctx = document.getElementById('myChart');

      let values =[]
      let labels =[]

        {% for s in stat %}
            values.push({{s.count}})
            labels.push('{{s.name}}')
        {% endfor %}

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: "Số khóa học",
            data: values,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
 }
</script>
{% endblock %}